langchain==0.1.16
langchain-community==0.0.34
langchain-google-genai==1.0.3
# langchain-huggingface==0.0.1
langchain-core==0.1.45
langchain-text-splitters==0.0.1
gradio>=4.0.0
python-dotenv==1.0.1
faiss-cpu
pypdf==4.2.0
pydantic==2.10.6
# sentence-transformers==2.7.0
